<!DOCTYPE HTML>

<html>

	<head>
		<meta charset="utf-8">
		<title>{% block title %}Enquête SSC 2016{% endblock %}</title>
		{% stylesheets 'bundles/surveysssc2016/css/*' filter='cssrewrite' %}
		    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
		{% endstylesheets %}
		{% javascripts '@SurveysSSC2016Bundle/Resources/public/js/*' %}
	        <script src="{{ asset_url }}"></script>
	    {% endjavascripts %}
	</head>

	<body>
		{% block body %}
		{% endblock %}
	</body>
</html>