{% extends "SurveysSSC2016Bundle::layout-fr.html.twig" %}


{% block body %}
	<h2>Enquête SSC 2016</h2>

	<form id="msform">
		{{ include("SurveysSSC2016Bundle:Survey:progressBar-fr.html.twig") }}
	</form>

{% endblock %}